.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2rem;
}

.menu {
  margin-right: 1rem;
}

.end {
  display: flex;
  align-items: center;
}

.item {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.item:hover {
  text-decoration: underline;
}
