.sidebar {
  display: block;
  background-color: #0d1117;
  color: #ffffff;
}

@media (min-width: 768px) {
  .sidebar {
    min-width: 33.3333332%;
    max-width: 350px;
    padding: 24px;
  }
}

@media (min-width: 1012px) {
  .sidebar {
    min-width: 25%;
    padding: 32px;
  }
}
